$green: #83bf43;
$gray: #979797;
$black: #000000;
:host {
  display: block;
  height: 100%;
  width: 100%;
  .wrapper {
    height: 100%;
    header {
      z-index: 2;
      background-color: $black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      min-height: 60px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      .left {
        display: flex;
        padding: 0 50px;
        div {
          margin: 0 10px;
        }
        .one,
        .two {
          display: flex;
          align-items: center;
          span {
            display: block;
            margin: 0 5px;
          }
        }
      }
      .rigth {
        display: flex;
        align-items: center;
        padding: 0 50px;
        span {
          display: block;
        }
        span:nth-child(1) {
          margin: 0 6px;
        }
        span:nth-child(2) {
          margin: 0 6px;
          width: 1px;
          background: #fff;
          height: 30px;
        }
        span:nth-child(3) {
          margin: 0 6px;
          display: flex;
          align-items: center;
          width: 52px;
          justify-content: space-between;
        }
        span:nth-child(4) {
          margin: 0px 18px;
          display: flex;
          align-items: center;
          width: 102px;
          justify-content: space-between;
        }
        button {
          background-color: #fff;
          height: 60px;
          border: none;
          letter-spacing: 3px;
          cursor: pointer;
        }
        button:hover {
          background-color: $green;
          color: #fff;
        }
      }
    }
    content {
      display: block;
      width: 100%;
      height: calc(100% - 60px);
      padding: 60px 0 0 0;
      overflow-y: auto;
      position: relative;
      section.one {
        background-image: url("/assets/images/header/Imagen background.jpg");
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .section-one-header {
          position: absolute;
          top: 20px;
          left: 40px;
          color: #fff;
          display: flex;
          align-items: center;
          span:nth-child(1) {
            h1 {
              font-size: 22px;
              font-weight: 600;
            }
          }
          span:nth-child(2) {
            margin: 0 6px;
            width: 2px;
            background: #fff;
            height: 21px;
          }
          span:nth-child(4) {
            display: block;
            letter-spacing: 3px;
            margin: 0 3px;
          }
          button {
            background-color: transparent;
            border: none;
            width: 52px;
            overflow: hidden;
            margin-left: 30px;
            cursor: pointer;
          }
          button:focus {
            outline: 0;
          }
        }

        .section-one-body {
          margin-top: 200px;
          width: 70%;
          text-align: center;
          .title {
            color: #fff;
            font-weight: 700;
            letter-spacing: 5px;
            font-size: 36px;
          }
          .content {
            display: flex;
            background-color: #fff;
            padding: 20px 40px;
            position: relative;
            margin-top: 20px;
            justify-content: space-evenly;
            .date {
              display: flex;
              align-items: center;
              mat-icon {
                height: 47px;
                width: 47px;
                font-size: 47px;
              }
              .left,
              .right {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 5px;
                span:nth-child(2) {
                  font-weight: 700;
                }
                span:nth-child(3) {
                  font-weight: 700;
                }
              }
            }
            mat-form-field:nth-child(2) {
            }
            .consult {
              position: absolute;
              right: -82px;
              background-color: $green;
              color: #fff;
              display: flex;
              flex-direction: column;
              padding: 12px;
              align-items: center;
              font-weight: 600;
            }
          }
        }
      }
      section.two {
        position: relative;
        .section-two-header {
          clip-path: polygon(0 0, 97% 0%, 100% 100%, 0% 100%);
          position: absolute;
          background: #fff;
          display: flex;
          top: -59px;
          height: 60px;
          align-items: center;
          width: 60%;
          justify-content: space-around;
          padding: 0 30px;
          z-index: 10;
           .item {
            margin: 0 5px;

            span {
              align-items: center;
              display: flex;
              color: $gray;
              img {
                margin: 0 5px;
              }
            }
          }
        }
        .section-two-body {
          display: flex;
          padding: 90px 0;
          justify-content: space-evenly;
          .principal {
            display: flex;
            flex-direction: column;
            justify-content: center;
            span:nth-child(1) {
              font-weight: 500;
            }
            span:nth-child(2) {
              font-weight: 700;
            }
          }
          .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
              font-weight: 700;
              display: block;
              margin-top: 10px;
            }
          }
        }
      }
      .menu {
        position: absolute;
        width: 370px;
        height: 100vh;
        background-color: $green;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        color: #fff;
        transition: .2s ease-in;
        button {
          position: absolute;
          top: 76px;
          left: 20px;
          border: none;
          background: transparent;
        }
        ul {
          list-style: none;
          padding: 0;
          li:nth-child(1){
            font-weight: 600;
                }
          li {
            margin: 10px 0;
            text-align: center;
            letter-spacing: 3px;
            font-weight: 400;
          }
        }
      }
      .close-menu{
        transform: translateX(-370px);
      }
      .open-menu{
        transform: translateX(0px);
      }
    }
  }
}
